* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	margin: 0;
	display: flex;
	flex-direction: column; 
}

.nav1 {
	display: flex;
	justify-content: space-around;
	align-content: center; 
	background-color: #f8f8f8;
	padding: 10px;
	color: #b7b7b8;
	flex-direction: row;
	;
}

.nav2 {
	display: flex;
	justify-content: center;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	background-color: #ffffff;
	padding: 10px;
	color: #ffffff;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	padding: 0px;
}

.nav-links2{
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	padding: 0px;
}

.nav1-hidden {
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	padding: 0px;
	display:none;
}

.featured-product {
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: column;
	flex-wrap:wrap;
	margin-top:-40px;
}

.item-description {
	margin: 0;
}


.center-main {
	width:100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center; 
	text-align: center;
	background-image:url('https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=92401627442472956191484148034');
	background-size: cover;
	background-repeat:no-repeat;
	height:500px;
}

.middle-boxes {
	display: flex;
	justify-content: center;
	align-items: center; 
	position: relative;
	z-index: 2;
	top:-80px;
}

.overlap-boxes {

	  outline-color: black;
		width: 200px;	
		height: 200px;
		margin-left: 20px;
		color:#ffffff;
		background-color: #19B3FA;
		font-size:25px;
}

.center-items { 
	display: flex;
	flex-wrap:wrap;
	
	flex-direction: row;
	
}

.items{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	flex-direction: row;
	margin:0px;
	background-color: #D4F8FA;
	
}

.individual-item {
	display: flex;
	align-items: column;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: center;
	text-align:center;
	margin:5px;
	
}

.top-header {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin:0;
	width:100%; 
	align-items:center;
	flex-direction:column;
}

header {
	
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items:column;
	flex-direction:column;
	width:300px;
	height:300px;
	color:#ffffff;
	
}


h1 {
	margin:0;
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing:6px;
	width: 100%;
}

.shop-now-button {
	background-color: transparent;
	border-color: #ffffff;
	color:#ffffff;
	padding: 10px;
	border-radius:2px; 
}

.central-content {
	text-align: center;
	display: flex;
	justify-content: center;
}

nav a {
	color: #b7b7b8;
	text-decoration: none;
	margin-left: 30px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
	display:none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}



@media screen and (max-width: 700px) {
	.dropdown{
	position: relative;
  display: inline-block;
	
	}
  .nav-links2 {   
    display:none
	}
	
	.nav1 {
		display:none;
	}
	.nav1-hidden{
		display: flex;
	}
}




