* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

main {
	margin: 0;
	display: flex;
	flex-direction: column; 
}

.nav1 {
	display: flex;
	justify-content: space-around;
	align-content: center; 
	background-color: #f8f8f8;
	padding: 10px;
	color: #b7b7b8;
	flex-direction: row;
	;
}

.nav2 {
	display: flex;
	justify-content: center;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	background-color: #ffffff;
	padding: 10px;
	color: #ffffff;
}

.nav-links{
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: row;
	flex-wrap:wrap;
	padding: 0px;
}

.featured-product {
	display: flex;
	justify-content: space-around;
	align-content: center; 
	flex-direction: column;
	flex-wrap:wrap;
	margin-top:-40px;
}

.item-description {
	margin: 0;
}


.center-main {
	width:100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center; 
	text-align: center;
	background-image:url('https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=92401627442472956191484148034');
	background-size: cover;
	background-repeat:no-repeat;
	height:500px;
}

.middle-boxes {
	display: flex;
	justify-content: center;
	align-items: center; 
	position: relative;
	z-index: 2;
	top:-80px;
}

.overlap-boxes {

	  outline-color: black;
		width: 200px;	
		height: 200px;
		margin-left: 20px;
		color:#ffffff;
		background-color: #19B3FA;
		font-size:25px;
}

.items{
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	margin:0px;
	background-color: #D4F8FA;
}

.individual-item {
	display: flex;
	align-items: column;
	flex-wrap:wrap;
	flex-direction:column;
	justify-content: center;
	text-align:center;
	margin:5px;
}


header {
	
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
	align-items:column;
	flex-direction:column;
	width:300px;
	height:300px;
	color:#ffffff;
	
}

.central-content {
	text-align: center;
	display: flex;
	justify-content: center;
}

nav a {
	color: #b7b7b8;
	text-decoration: none;
	margin-left: 40px;
}